// color result
$backColor: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
$fontColor: #fff;

// color result-numbers
$circleColor: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);

// color summary
$reactionColor:rgba(255, 175, 175, 0.418);
$memoryColor:rgba(255, 232, 128, 0.759);
$verbalColor:rgba(166, 255, 203, 0.567);
$visualColor:rgba(166, 167, 255,.4);